// Variables
// Neutral colors
$light-color: #ffffff;
$on-light-color: #1a1a1a;

$lightgrey-color: #edece5;
$on-lightgrey-color: #2e2e2e;

$darkgrey-color: #4c4c4c;
$on-darkgrey-color: #f5f5f5;

$dark-color: #000000;
$on-dark-color: #e0e0e0;

// Corporate colors
$primary-color: #009ee3;
$on-primary-color: $light-color;

$secondary-color: #004884;
$on-secondary-color: $light-color;

$tertiary-color: #a863a4;
$on-tertiary-color: $light-color;

$quaternary-color: #783e70;
$on-quaternary-color: $light-color;
