.template-1 body {
  background-color: #edece5;
  color: #000000;
}
.template-1 body > header {
  background-color: #009ee3;
  color: #ffffff;
}
.template-1 body > footer {
  background-color: #4c4c4c;
  color: #ffffff;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

h1 {
  font-size: 2.5rem;
}

.template-1 body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr auto 1fr;
}
.template-1 body > * {
  padding: 1rem;
}
.template-1 header {
  grid-column: 1/-1;
  grid-row: 1/2;
}
.template-1 nav {
  grid-column: 1/3;
  grid-row: 2/-2;
}
.template-1 main {
  grid-column: 3/-1;
  grid-row: 2/-2;
}
.template-1 footer {
  grid-column: 1/-1;
  grid-row: -2/-1;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner a:link, .banner a:hover, .banner a:active, .banner a:visited {
  color: #ffffff;
}

.contentinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contentinfo address {
  font-style: normal;
}
.contentinfo a[href], .contentinfo a:hover, .contentinfo a:active, .contentinfo a:visited {
  color: #f5f5f5;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 0.5rem;
  column-gap: 1rem;
  flex-wrap: wrap;
}
.nav-column {
  flex-direction: column;
  align-items: flex-start;
}

body {
  outline: 2px solid rgba(0, 204, 0, 0.6666666667);
}
body > * {
  outline: 2px solid rgba(0, 204, 204, 0.6666666667);
}
body > * > * {
  outline: 2px solid rgba(204, 128, 0, 0.6666666667);
}
body > * > * > * {
  outline: 2px solid rgba(204, 0, 204, 0.6666666667);
}